In [32]:
#This Script will Clean up the Infusion Soft File pulling out the stages there are at in the interview process and the dates that 
#this happened

In [1]:
#Dependencies
import pandas as pd
import numpy as np
import sys

In [5]:
# Tag Files to upload this will be the only thing uploaded that changes. Variables stay the same
TagFile = "../raw_data/UTNewTagIDTest.csv"

output = "../output_files/"

In [3]:
#read with pandas some may need encoding (also note a sshet may needed)
TagFile_pd = pd.read_csv(TagFile, encoding= "ISO-8859-1")
TagFile_pd.head()

,cga Contact Id,Contact Id,Contact Group Id,cga Group Id,Tag,Date Applied,Contact First Name,Contact Last Name
0,56,56,103,103,New Lead,9/23/16,Colelita,Jones
1,56,56,119,119,Attempted Contact,9/23/16,Colelita,Jones
2,56,56,131,131,Home Top,1/22/16,Colelita,Jones
3,56,56,141,141,Pending Enrollment,9/23/16,Colelita,Jones
4,56,56,153,153,Too Expensive,10/15/16,Colelita,Jones

In [4]:
#pivot Table
PivotTagFile = pd.pivot_table(TagFile_pd,  index= ["Contact Id"], columns=['Tag'], values=['Date Applied'], aggfunc = lambda x: ' '.join(x))
PivotTagFile.head()

           Date Applied                                             \
Tag        10th Attempt 1st Attempt 2nd Attempt 3/1 alumni pricing
Contact Id
56                 None        None        None               None
59                 None        None        None               None
69                 None        None        None               None
71                 None        None        None               None
73                 None        None        None               None

                                                                      \
Tag        3/11 alumni 3/14 coding 3/16 coding 3/2 alumni and coding
Contact Id
56                None        None        None                  None
59                None        None        None                  None
69                None        None        None                  None
71                None        None        None                  None
73                None        None        None                  None

                                              ...                       \
Tag        3/25 coding 3/3 alumni and coding  ...   Pending Enrollment
Contact Id                                    ...
56                None                  None  ...              9/23/16
59                None                  None  ...              1/29/16
69                None                  None  ...                 None
71                None                  None  ...                 None
73                None                  None  ...                 None

                                                                       \
Tag        Phone Interview Complete Pre-Launch Career Services Opt-In
Contact Id
56                          9/23/16                              None
59                          1/22/16                            9/6/16
69                             None                              None
71                          2/12/16                              None
73                             None                              None

                                                                      \
Tag        Program Too Long Student Declined Test Lead Too Expensive
Contact Id
56                     None             None      None      10/15/16
59                     None             None      None          None
69                     None             None      None          None
71                     None             None      None          None
73                     None             None      None          None


Tag        Withdrawal contac future
Contact Id
56               None   None   None
59               None   None   None
69               None   None   None
71               None   None   None
73               None   None   None

[5 rows x 69 columns]

In [9]:
#Send pivot to excel for manual clean up 

#keep same file names ehre
PivotTagFile.to_excel(output+"PivotTagFile.xlsx")

In [16]:
#Bring in cleaned tagged file and up load in pandas
#keep same file names here
CleanTagFile = output+"CleanPivotTagFile.xlsx"
CleanTagFile_pd = pd.read_excel(CleanTagFile)
CleanTagFile_pd.head()

,Contact Id,10th Attempt,1st Attempt,2nd Attempt,3/1 alumni pricing,3/11 alumni,3/14 coding,3/16 coding,3/2 alumni and coding,3/25 coding,...,Pending Enrollment,Phone Interview Complete,Pre-Launch Career Services Opt-In,Program Too Long,Student Declined,Test Lead,Too Expensive,Withdrawal,contac,future
0,56,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9/23/16,9/23/16,NaN,NaN,NaN,NaN,10/15/16,NaN,NaN,NaN
1,59,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1/29/16,1/22/16,9/6/16,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,69,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,71,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,2/12/16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,73,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
TagFiltered = CleanTagFile_pd.filter(["Contact Id",
                                                'New Lead', 'Attempted Contact',
                                               "Contacted - Needs Follow Up",
                                               "Invoice Signed / Deposit Cleared",
                                               "Contacted - Interview Scheduled",
                                               "Phone Interview Complete",
                                               "Apply Now",
                                               "Application Submitted",
                                               "Coding Test Complete",
                                               "Academic Interview Scheduled",
                                               "Academic Interview Approved",
                                               "Academic Interview Declined",
                                               "Academic Interview 2nd Coding Test Req.",
                                               'Pending Enrollment'], axis = 1)
TagFiltered.head()

,Contact Id,New Lead,Attempted Contact,Contacted - Needs Follow Up,Invoice Signed / Deposit Cleared,Contacted - Interview Scheduled,Phone Interview Complete,Apply Now,Application Submitted,Coding Test Complete,Academic Interview Scheduled,Academic Interview Approved,Academic Interview Declined,Academic Interview 2nd Coding Test Req.,Pending Enrollment
0,56,9/23/16,9/23/16,NaN,NaN,9/23/16,9/23/16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9/23/16
1,59,NaN,1/22/16,NaN,2/1/16,1/22/16,1/22/16,1/24/16,1/24/16,1/26/16,1/27/16,1/30/16,NaN,NaN,1/29/16
2,69,1/23/16,1/25/16,1/27/16,NaN,2/12/16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,71,1/23/16,1/25/16,NaN,NaN,2/12/16,2/12/16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,73,1/23/16,1/25/16,NaN,NaN,1/25/16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
#combine Apply now with Application Submitted
TagFiltered["Apply Now"] = TagFiltered["Apply Now"].str.cat(" " + TagFiltered["Application Submitted"])
TagFiltered["Apply Now"].head()

0                NaN
1    1/24/16 1/24/16
2                NaN
3                NaN
4                NaN
Name: Apply Now, dtype: object

In [29]:
#Rename tags to their appropiate name in salesforce
TagRenamed = TagFiltered.rename(columns={"Contact Id": "Account ID", 
                                                     "New Lead" : "Date Stage Set to Lead" , 
                                                     "Attempted Contact": "Date Step Set to Attempted Contact",
                                                    "Contacted - Needs Follow Up": "Date Step Set to Contacted",
                                                     "Invoice Signed / Deposit Cleared" : "Enroll Date",
                                                     "Contacted - Interview Scheduled" : "Date Step Set to Phone Interview Scheduled",
                                                     "Phone Interview Complete" : "Date Step Set to Phone Int Complete",
                                                     "Apply Now" : "Date Step Set to Application Pending",
                                                     "Coding Test Complete" : "Date Step Set to App & Coding Test Submit",
                                                     "Academic Interview Scheduled" : "Date Step Set to Academic Int Scheduled",
                                                     "Academic Interview Approved" : "Date Step to Academic Int Approved",
                                                     "Academic Interview Declined" : "Date Step Set to Academic Int Declined",
                                                     "Academic Interview 2nd Coding Test Req." : "Date Step Set to Academic Int 2nd Coding",
                                                     "Pending Enrollment" : "Date Stage Set to Pending Enrollment"
                                                    })
TagRenamed.head()

,Account ID,Date Stage Set to Lead,Date Step Set to Attempted Contact,Date Step Set to Contacted,Enroll Date,Date Step Set to Phone Interview Scheduled,Date Step Set to Phone Int Complete,Date Step Set to Application Pending,Application Submitted,Date Step Set to App & Coding Test Submit,Date Step Set to Academic Int Scheduled,Date Step to Academic Int Approved,Date Step Set to Academic Int Declined,Date Step Set to Academic Int 2nd Coding,Date Stage Set to Pending Enrollment
0,56,9/23/16,9/23/16,NaN,NaN,9/23/16,9/23/16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9/23/16
1,59,NaN,1/22/16,NaN,2/1/16,1/22/16,1/22/16,1/24/16 1/24/16,1/24/16,1/26/16,1/27/16,1/30/16,NaN,NaN,1/29/16
2,69,1/23/16,1/25/16,1/27/16,NaN,2/12/16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,71,1/23/16,1/25/16,NaN,NaN,2/12/16,2/12/16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,73,1/23/16,1/25/16,NaN,NaN,1/25/16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
#Insert Date Stage set closed so it can be merged with later if needed
TagRenamed.insert(4, "Date Stage Set to Closed", '')
TagRenamed.head()

,Account ID,Date Stage Set to Lead,Date Step Set to Attempted Contact,Date Step Set to Contacted,Date Stage Set to Closed,Enroll Date,Date Step Set to Phone Interview Scheduled,Date Step Set to Phone Int Complete,Date Step Set to Application Pending,Application Submitted,Date Step Set to App & Coding Test Submit,Date Step Set to Academic Int Scheduled,Date Step to Academic Int Approved,Date Step Set to Academic Int Declined,Date Step Set to Academic Int 2nd Coding,Date Stage Set to Pending Enrollment
0,56,9/23/16,9/23/16,NaN,,NaN,9/23/16,9/23/16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9/23/16
1,59,NaN,1/22/16,NaN,,2/1/16,1/22/16,1/22/16,1/24/16 1/24/16,1/24/16,1/26/16,1/27/16,1/30/16,NaN,NaN,1/29/16
2,69,1/23/16,1/25/16,1/27/16,,NaN,2/12/16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,71,1/23/16,1/25/16,NaN,,NaN,2/12/16,2/12/16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,73,1/23/16,1/25/16,NaN,,NaN,1/25/16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
#Ouput a file ready for sales merger
SalesReady = TagRenamed
SalesReady.to_csv("../output_files/SalesReady.csv", index = False)